{% extends 'base.html' %} {% block title %}{{pet.name}}{% endblock %} {% block
content %}
<div class="row">
    {% if pet.photo_url %}
    <div class="col-sm-4 col-lg-3">
        <img src="{{pet.photo_url}}" class="img-fluid" alt="{{pet.name}}" />
    </div>
    {% endif %}
    <div class="col">
        <h1>{{pet.name}}</h1>
        Species: {{pet.species}}<br />Age: {{pet.age}}
        <h4>Update</h4>
        <form method="POST">
            {{ form.hidden_tag() }} {% for field in form if
            field.widget.input_type != 'hidden'%}
            <div class="mb-3">
                {# Bootstrap doesn't play well with checkboxes, so we need to
                change the classes #} {% if field.widget.input_type ==
                'checkbox' %} {{field(class_="form-check-input")}}
                {{field.label(class_="form-check-label")}} {% for err in
                field.errors %} {{err}} {% endfor %} {% else %}
                {{field.label(class_="form-label")}}
                {{field(class_="form-control")}} {% for err in field.errors %}
                {{err}} {% endfor %} {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-primary">Update Pet</button>
        </form>
    </div>
</div>

{% endblock %}
